body{
font-family:Arial, Helvetica, sans-serif;
text-align:center;

    align-items:center;
    display:flex;
    background-color:green;
    flex-direction:column;
 margin:0;
}


.game-container{
   height:300px;
    justify-content:center;
    align-items:center;
width:300px;
    display:flex;
    flex-wrap:wrap;
 
}
.box{
    height:90px;
    width:90px;
    border:none;
    margin:2px;
    border-radius:5px;
    font-size:70px;
    text-align:center;

}
#winn{
font-size:30px;
color:red;


}

.win{
    height:100vmin;
    
    display: flex;
  justify-content: center;
  align-items: center;
  
}
.msg{

display:none;

}
#reset{
    margin:20px;
}


